#one{

width:400px;
height:400px;
backgroung-color:orange;
}

#two{

width:300px;
height:300px;
backgroung-color:lightblue;
}

#three{

width:200px;
height:300px;
backgroung-color:pink;
}

#four{

width:100px;
height:100px;
backgroung-color:yellow;
}